.mainpage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 10px #e6e6e6;
  min-height: 100vh;
}

.name-display{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: large;
  font-weight: bold;
  width: 100%;
  height: 25%;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 10px #e6e6e6;
  text-align: center;
}

.nav-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20%;
}

.filters-field{
  font-size: large;
  font-weight: bold;
  width: 100%;
  height: 70%;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 10px #e6e6e6;
  text-align: center;
}

.items-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 10px;
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 10px #e6e6e6;
  text-align: center;
}

.mainpage-rightside{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 70%;
}

.item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 20px;
}

.deposit-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 10px #e6e6e6;
}

ul {
  list-style-type: none;
}

.sell-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modal-background{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}

.modal-content{
  position: fixed;
  background-color: #f2f2f2;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 10px #e6e6e6;
  padding: 20px;
  top: 20%;
  left: 20%;


}